body {
  background-color: #34558b;
  color: #ffffff;
}

h1 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  font-family: 'Lobster', cursive;
}

.answer {
  color: #b2cffc;
}

.anchor {
  cursor: pointer;
  color: #ffaf12;
  text-decoration: none;
}
.anchor:hover {
  color: #ffda91;
  text-decoration: none;
}

.prepare-timer {
  font-size: 10rem;
}

.timer {
  color: #ff5e6c;
  font-family: 'Lobster', cursive;
}
.timer:hover {
  color: #ff848e;
}

.skip {
  opacity: 0.2;
  letter-spacing: -3px;
  cursor: pointer;
}
.skip:hover {
  opacity: 0.5;
}

.App {
  height: 100vh;
  max-width: 800px;
  text-align: center;
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Scada', sans-serif;
}
